<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="org.sorribas.cordova.android.locale"
        version="0.7.0">

  <name>CordovaAndroidSetLocale</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/cordovaAndroidSetLocale.js" target="js/cordovaAndroidSetLocale.js"/>

  <js-module src="www/cordovaAndroidSetLocale.js" name="cordovaAndroidSetLocale">
    <clobbers target="cordovaAndroidSetLocale" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CordovaAndroidSetLocale">
        <param name="android-package" value="org.sorribas.cordova.android.locale.CordovaAndroidSetLocale"/>
      </feature>
    </config-file>

    <source-file src="src/org/sorribas/cordova/android/locale/CordovaAndroidSetLocale.java" target-dir="src/org/sorribas/cordova/android/locale/"/>
  </platform>
</plugin>
